.header {
  display: flex;
  width: 100%;
  height: 6rem;
  padding: 6em 5em;
  background-color: black;
  color: white;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.logo h1 {
  margin: 0 0.5rem;
  padding-right: 2rem;
  font-size: 2.5rem;
}

.input {
  flex-basis: 100%;
  font-size: 1.7rem;
  outline: 0;
  color: #222;
}

.button {
  background-color: darkgrey;
  outline: 0;
  cursor: pointer;
}

.buttonImg {
  height: 100%;
  padding: 12em 30em;
}
